.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.left-column {
  flex: 1;
  box-sizing: border-box;
  max-width: calc(33.33% - 20px);
  padding-left: 10vw;
  padding-top: 3vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.right-column {
  flex: 1;
  box-sizing: content-box;
  max-width: calc(33.33% - 25px);
  border: 1px solid black;
  background-image: url(./Inventory.png);
  background-size: contain;
  background-attachment: local;
  box-shadow: 5px 5px 0px 0px black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.rankingTable{
  width: 100%;
}

.middle-column {
  flex: 1;
  box-sizing: border-box;
  max-width: calc(33.33% - 20px);
  background-color: #3E3629;
  color:rgb(237, 196, 90);
  box-shadow: 5px 5px 0px 0px black;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6); 
}

.middle-column:hover{
  cursor: pointer;
}

.button {
  background-color: #3E3629;
  color: rgb(237, 196, 90);
  text-shadow: 1px black;
  text-align: center;
  width: 10em;
  height: 3em;
  box-shadow: 5px 5px 0px 0px black;
  border-radius: 35px;
  margin: 0 5px;
}

.button:hover {
  background-color: lightblue;
  cursor: pointer;
  color: black;
}

.button:active {
  background-color: goldenrod;
}


.ulSkills {
  margin: 0;
  padding: 0;
  column-count: 2;
  list-style-type: none;
  max-width: calc(2 * 10em + 20px);
}

.ulSkills li {
  margin-bottom: 5px;
  break-inside: avoid-column;
}

.skill-table{
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}

.playername{
  color: rgb(255, 194, 41);
  transition: color 0.3s ease, box-shadow 0.3s ease;
  font-size: 25px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6); 
}

.playername:hover{
  color: #b83214;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  cursor: crosshair;
}

.info{
  padding-left: 20px;
  color: goldenrod;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}